## IS517 in-class assignment: Data Transformation Practice
## Student: Sheny Lin
## Topic: data transformation, normalization, and standardization

In [ ]:
from sklearn import preprocessing
import numpy as np
import pandas as pd

In [10]:
admission = pd.read_csv("/Users/chenghsuanlin/downloads/Admission.csv")

In [11]:
from sklearn import preprocessing

In [12]:
x_array = np.array(admission['GPA'])

In [13]:
normalized_arr_gpa = preprocessing.normalize([x_array])
print(normalized_arr_gpa)

[[0.12809769 0.13588741 0.13934951 0.14237885 0.15968935 0.14973581
  0.13112703 0.13805123 0.15709277 0.15536172 0.14281161 0.14713924
  0.15146686 0.16358421 0.14887029 0.15060134 0.15016857 0.14497542
  0.14670647 0.14194609 0.13891675 0.15492896 0.1441099  0.14713924
  0.14627371 0.14108056 0.15579449 0.14584095 0.16444974 0.16271869
  0.14021504 0.10992167 0.10516128 0.09520774 0.10213194 0.11121995
  0.10169918 0.10862338 0.10862338 0.10213194 0.10213194 0.11511481
  0.11598034 0.10732509 0.10645957 0.11381653 0.10559404 0.0921784
  0.10429575 0.11035443 0.09996813 0.10429575 0.09477498 0.10169918
  0.11251824 0.11035443 0.11771139 0.1233373  0.12550111]]

In [14]:
y_array = np.array(admission['GMAT'])

In [15]:
normalized_arr_gmat = preprocessing.normalize([y_array])
print(normalized_arr_gmat)

[[0.15087758 0.11974009 0.12201844 0.13341021 0.1278409  0.17543315
  0.15847209 0.16783865 0.11315818 0.14885237 0.14252362 0.13999211
  0.14480197 0.14961182 0.17518    0.13366336 0.13973896 0.13163815
  0.13746061 0.1323976  0.13416966 0.14277677 0.14302992 0.10910778
  0.15315593 0.1680918  0.15416853 0.14151102 0.1318913  0.16353509
  0.11822119 0.11290503 0.10758888 0.11999324 0.13442281 0.13720746
  0.10277902 0.10429792 0.11594284 0.10100697 0.12201844 0.10632312
  0.10480422 0.13492911 0.1288535  0.12758775 0.0850585  0.10328532
  0.11872749 0.13619486 0.1278409  0.12379049 0.10404477 0.08126124
  0.09974122 0.13366336 0.10100697 0.09645026 0.09720971]]

### Normalize a Dataset Without Converting Columns to Array

In [22]:
admission = pd.read_csv("/Users/chenghsuanlin/downloads/Admission.csv")
admission_1 = preprocessing.normalize(admission)
scaled_df = pd.DataFrame(admission_1)
scaled_df.head()

          0         1         2
0  0.004966  0.999986  0.001678
1  0.006638  0.999976  0.002114
2  0.006680  0.999976  0.002075
3  0.006243  0.999979  0.001897
4  0.007307  0.999971  0.001980

In [23]:
# Normalize the dataset using MinMaxScaler
scaler = preprocessing.MinMaxScaler()
names = admission.columns
dataframe = scaler.fit_transform(admission)
scaled_df = pd.DataFrame(dataframe, columns=names)
scaled_df.head()

        GPA      GMAT  Decision
0  0.497006  0.739247       1.0
1  0.604790  0.408602       1.0
2  0.652695  0.432796       1.0
3  0.694611  0.553763       1.0
4  0.934132  0.494624       1.0

In [25]:
scaled_df

         GPA      GMAT  Decision
0   0.497006  0.739247       1.0
1   0.604790  0.408602       1.0
2   0.652695  0.432796       1.0
3   0.694611  0.553763       1.0
4   0.934132  0.494624       1.0
5   0.796407  1.000000       1.0
6   0.538922  0.819892       1.0
7   0.634731  0.919355       1.0
8   0.898204  0.338710       1.0
9   0.874251  0.717742       1.0
10  0.700599  0.650538       1.0
11  0.760479  0.623656       1.0
12  0.820359  0.674731       1.0
13  0.988024  0.725806       1.0
14  0.784431  0.997312       1.0
15  0.808383  0.556452       1.0
16  0.802395  0.620968       1.0
17  0.730539  0.534946       1.0
18  0.754491  0.596774       1.0
19  0.688623  0.543011       1.0
20  0.646707  0.561828       1.0
21  0.868263  0.653226       1.0
22  0.718563  0.655914       1.0
23  0.760479  0.295699       1.0
24  0.748503  0.763441       1.0
25  0.676647  0.922043       1.0
26  0.880240  0.774194       1.0
27  0.742515  0.639785       1.0
28  1.000000  0.537634       1.0
29  0.976048  0.873656       1.0
30  0.664671  0.392473       1.0
31  0.245509  0.336022       0.0
32  0.179641  0.279570       0.0
33  0.041916  0.411290       0.0
34  0.137725  0.564516       0.0
35  0.263473  0.594086       0.0
36  0.131737  0.228495       0.0
37  0.227545  0.244624       0.0
38  0.227545  0.368280       0.0
39  0.137725  0.209677       0.0
40  0.137725  0.432796       0.0
41  0.317365  0.266129       0.0
42  0.329341  0.250000       0.0
43  0.209581  0.569892       0.0
44  0.197605  0.505376       0.0
45  0.299401  0.491935       0.0
46  0.185629  0.040323       0.0
47  0.000000  0.233871       0.0
48  0.167665  0.397849       0.0
49  0.251497  0.583333       0.0
50  0.107784  0.494624       0.0
51  0.167665  0.451613       0.0
52  0.035928  0.241935       0.0
53  0.131737  0.000000       0.0
54  0.281437  0.196237       0.0
55  0.251497  0.556452       0.0
56  0.353293  0.209677       0.0
57  0.431138  0.161290       0.0
58  0.461078  0.169355       0.0

# Reference

https://www.digitalocean.com/community/tutorials/normalize-data-in-python